@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  --clr-orange: hsl(26, 100%, 55%);
  --clr-pale-orange: hsl(25, 100%, 94%);

  --clr-very-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black-opacity-75: hsla(0, 0%, 0%, 0.75);

  --fw-regular: 400;
  --fw-bold: 700;
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  inline-size: 100%;
  z-index: 1000;
  background-color: var(--clr-white);
}

@media (min-width: 768px) {
  header {
    position: inherit;
  }
}

.navbar {
  max-inline-size: 64rem;
  margin-inline: auto;
  inline-size: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25em;
}

.navbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-mobile {
  padding: 1.5em;
  inline-size: 70%;
  max-block-size: none;
  block-size: 100dvh;
  block-size: 100vh;
  flex-flow: column;
  align-items: start;
  gap: 1rem;
  border: none;
  background-color: var(--clr-white);
  box-shadow: 50px 0px 0px 30vw var(--clr-black-opacity-75);
}

.nav-mobile button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-links-mobile {
  margin-block-start: 2rem;

  list-style-type: none;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.nav-links-mobile a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
}

.nav-links {
  display: none;
  list-style-type: none;
}

.nav-links a {
  line-height: 1;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--clr-dark-grayish-blue);
  /* font-weight: var(--fw-bold); */
}

.nav-panel {
  anchor-name: --cart-panel;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-cart-icon {
  cursor: pointer;
}

.nav-profile {
  cursor: pointer;
  max-inline-size: 1.5rem;
}

.nav-profile img {
  border-radius: 50%;
}

@media (min-width: 768px) {
  .navbar {
    border-bottom: 1px solid var(--clr-pale-orange);
    padding-block: 2em;
  }

  #open-menu {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .nav-header {
    gap: 3.5rem;
  }

  .nav-panel {
    gap: 2.75rem;
  }

  .nav-profile {
    max-inline-size: 3.15rem;
  }

  .nav-links {
    display: flex;
    gap: 2rem;

    @media (hover) {
      & > * {
        transition: opacity 0.15s linear;
      }

      &:hover > *:not(:hover) {
        opacity: 0.5;
      }
    }
  }
}

/* Navbar Cart */
.nav-cart {
  position: fixed;
  position-anchor: --cart-panel;
  inset: auto;
  margin: 0;
  top: anchor(bottom);
  right: 0;
  left: 0;
  margin-block-start: 1rem;

  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 22rem;
  border-radius: 0.5rem;
  background-color: var(--clr-white);
  box-shadow: 0px 30px 20px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

@media (min-width: 25em) {
  .nav-cart {
    right: anchor(right);
    left: unset;
  }
}

.cart-header {
  padding: 1.25em;
}

.cart-header p {
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-blue);
}

.cart-line {
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--clr-light-grayish-blue);
}

.cart-body {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  padding: 1.25em;
}

.cart-name {
  font-size: clamp(0.75rem, 4vw, 1rem);
  line-height: 1.7;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-dark-grayish-blue);
}

.cart-thumbnail {
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.cart-price {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.total-price {
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
}

.cart-remove {
  cursor: pointer;
  margin-block-start: 0.75em;
  border: none;
  outline: none;
  background: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  background-color: var(--clr-orange);
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
  border: none;
  padding-block: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.15s ease;
  inline-size: 100%;
}

.btn:hover {
  background-color: var(--clr-pale-orange);
}

.cart-body.empty {
  min-block-size: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-bold);
  color: var(--clr-dark-grayish-blue);
}

/* Navbar hover states */
@media (hover) {
  .nav-links a:hover {
    color: var(--clr-very-dark-blue);
    padding-block-end: 3.75em;
    border-bottom: 4px solid var(--clr-orange);
  }

  .nav-cart-icon:hover {
    filter: brightness(10%);
  }

  .nav-profile img:hover {
    outline: 2px solid var(--clr-orange);
  }
}

/* Product Page */
.product-page {
  margin-block-start: max(1.75rem, 5%);
  margin-block-end: max(4rem, 5%);
  max-inline-size: 70rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;

  @media (min-width: 768px) {
    & {
      gap: 2em;
      padding-inline: 1.5em;
      flex-direction: row;
    }
  }
}

/* Product Gallery */
.gallery-container {
  max-inline-size: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 768px) {
    & {
      padding-inline-start: 1.5em;
    }
  }
}

.image-container {
  overflow: hidden;
  position: relative;
  max-inline-size: 25rem;

  & img {
    object-fit: cover;
    cursor: pointer;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: var(--clr-white);
    padding: 0.75em;
    border-radius: 50%;

    & img {
      inline-size: 0.7rem;
      aspect-ratio: 1;
      line-height: 1;
    }

    @media (min-width: 768px) {
      & {
        display: none;
      }
    }
  }

  .next-image {
    right: 3%;
  }

  .next-image:disabled {
    opacity: 0.5;
  }

  .prev-image {
    left: 3%;
  }

  .prev-image:disabled {
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    & {
      border-radius: 0.75rem;
    }
  }
}

.thumbnails-container {
  padding: 0.25em;
  display: none;

  @media (min-width: 768px) {
    & {
      overflow: hidden;

      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    img {
      max-inline-size: 5rem;
      object-fit: cover;
      cursor: pointer;
    }

    .thumbnail {
      overflow: hidden;

      border-radius: 0.85rem;
      transition: opacity 0.15s;

      &:hover :not(.active-thumbnail) {
        opacity: 0.5;
      }

      &.active-thumbnail {
        outline: 2px solid var(--clr-orange);

        & img {
          opacity: 0.5;
        }
      }
    }
  }
}

/* Gallery Lightbox */
.gallery-lightbox {
  display: none;
}

@media (min-width: 768px) {
  .gallery-lightbox {
    max-width: fit-content;
    margin-inline: auto;
    display: none;
    border: none;
    background: none;
    padding: 2.5em;
  }

  .gallery-lightbox.open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 1000;

    &::after {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: -1;
    }
  }

  .gallery-lightbox::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  .close-lightbox {
    display: block;
    margin-inline-start: auto;
    margin-block-end: 1rem;
    background: none;
    border: none;
    cursor: pointer;

    img {
      inline-size: 1.25rem;
      aspect-ratio: 1;
    }
  }

  .lightbox-content {
    position: relative;

    button {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      background-color: white;
      padding: 1em;

      & img {
        inline-size: 0.8rem;
        aspect-ratio: 1;
        line-height: 1;
      }

      &.prev {
        left: -3%;
      }

      &.prev:disabled {
        opacity: 0.5;
      }

      &.next {
        right: -3%;
      }

      &.next:disabled {
        opacity: 0.5;
      }
    }

    .lightbox-content-preview-image {
      max-inline-size: 30rem;
      border-radius: 0.75rem;
    }
  }

  .lightbox-thumbnails-container {
    margin-block-start: 1rem;
    display: flex;
    justify-content: space-evenly;

    .lightbox-thumbnail {
      display: flex;
      border-radius: 0.85rem;
      overflow: hidden;

      &:hover :not(:has(class[active-lightbox-thumbnail])) {
        opacity: 0.5;
      }

      img {
        cursor: pointer;
        max-inline-size: 5rem;
        object-fit: cover;

        transition: opacity 0.15s;
      }

      &.active-lightbox-thumbnail {
        outline: 2px solid var(--clr-orange);

        img {
          opacity: 0.5;
        }
      }
    }
  }
}

/* Product Details */
.product-details {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  max-inline-size: 25rem;
  padding-inline: 1.5em;

  @media (min-width: 768px) {
    & {
      padding-inline: unset;
    }
  }
}

.product-title {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-block-end: 1rem;
}

.product-brand {
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--clr-dark-grayish-blue);
}

.product-name {
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
  font-size: 1.75rem;
  line-height: 1.1;
  text-transform: capitalize;

  @media (min-width: 768px) {
    & {
      font-size: 2.5rem;
    }
  }
}

.product-description {
  color: var(--clr-dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.5;
}

.discounted-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.new-price {
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
  font-size: 1.75rem;
  line-height: 1;
}

.old-price {
  color: var(--clr-dark-grayish-blue);
  font-weight: var(--fw-bold);
  text-decoration: line-through;
  line-height: 1;
}

.discount-badge {
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-white);
  font-size: 0.85rem;
  padding: 0.25em 0.5em;
  font-weight: var(--fw-bold);
  border-radius: 0.25rem;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    & {
      flex-flow: column;
      align-items: unset;
      gap: 1rem;
    }
  }
}

/* Product Actions */
.product-actions {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  @media (min-width: 768px) {
    & {
      flex-flow: row;
    }
  }
}

.actions-quantity {
  display: flex;
  flex: 1;
  align-items: center;
  /* padding: 1em; */
  justify-content: space-between;
  background-color: var(--clr-light-grayish-blue);

  border-radius: 0.5rem;

  & .quantity {
    font-weight: var(--fw-bold);
  }

  & button {
    padding: 1.25em 1em;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.actions-cta {
  flex: 2;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--clr-orange);
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
  padding-block: 1.5em;
  transition: opacity 0.15s;
  box-shadow: 0 0.375rem 0.75rem var(--clr-pale-orange);

  &:hover {
    opacity: 0.85;
  }

  & img {
    filter: brightness(20%);
    inline-size: 1.05rem;
  }
}
